$muya-theme-name: 'muya-theme-dark';
$muya-prefix: 'muya-dark';
$muya-breakpoints-spec-breakpoints-map-xs: 0;
$muya-breakpoints-spec-breakpoints-map-sm: 1280;
$muya-breakpoints-spec-breakpoints-map-md: 1440;
$muya-breakpoints-spec-breakpoints-map-lg: 1680;
$muya-breakpoints-spec-breakpoints-map-xl: 1920;
$muya-colors-spec-brand: rgba(26,122,248,1);
$muya-colors-spec-danger: rgba(255,43,0,1);
$muya-colors-spec-warning: rgba(255,171,0,1);
$muya-colors-spec-safe: rgba(0,217,72,1);
$muya-colors-spec-dark: rgba(255,255,255,1);
$muya-colors-spec-light: rgba(0,0,0,1);
$muya-colors-spec-brand-1: rgba(12,108,235,1);
$muya-colors-spec-brand-2: rgba(26,122,248,1);
$muya-colors-spec-brand-3: rgba(51,139,255,1);
$muya-colors-spec-brand-4: rgba(77,154,255,1);
$muya-colors-spec-light-brand-1: rgba(26,122,248,0.04);
$muya-colors-spec-light-brand-2: rgba(26,122,248,0.08);
$muya-colors-spec-light-brand-3: rgba(26,122,248,0.12);
$muya-colors-spec-light-brand-4: rgba(26,122,248,0.16);
$muya-colors-spec-danger-1: rgba(242,40,0,1);
$muya-colors-spec-danger-2: rgba(255,43,0,1);
$muya-colors-spec-danger-3: rgba(255,85,51,1);
$muya-colors-spec-danger-4: rgba(255,106,77,1);
$muya-colors-spec-light-danger-1: rgba(255,43,0,0.04);
$muya-colors-spec-light-danger-2: rgba(255,43,0,0.08);
$muya-colors-spec-light-danger-3: rgba(255,43,0,0.12);
$muya-colors-spec-light-danger-4: rgba(255,43,0,0.16);
$muya-colors-spec-safe-1: rgba(1,204,69,1);
$muya-colors-spec-safe-2: rgba(1,217,73,1);
$muya-colors-spec-safe-3: rgba(23,230,92,1);
$muya-colors-spec-safe-4: rgba(46,230,107,1);
$muya-colors-spec-light-safe-1: rgba(1,217,73,0.04);
$muya-colors-spec-light-safe-2: rgba(1,217,73,0.08);
$muya-colors-spec-light-safe-3: rgba(1,217,73,0.12);
$muya-colors-spec-light-safe-4: rgba(1,217,73,0.16);
$muya-colors-spec-warning-1: rgba(242,162,0,1);
$muya-colors-spec-warning-2: rgba(255,171,0,1);
$muya-colors-spec-warning-3: rgba(255,188,51,1);
$muya-colors-spec-warning-4: rgba(255,196,77,1);
$muya-colors-spec-light-warning-1: rgba(255,171,0,0.04);
$muya-colors-spec-light-warning-2: rgba(255,171,0,0.08);
$muya-colors-spec-light-warning-3: rgba(255,171,0,0.12);
$muya-colors-spec-light-warning-4: rgba(255,171,0,0.16);
$muya-colors-spec-neutral-1-normal: rgba(255,255,255,0.9);
$muya-colors-spec-neutral-1-hover: rgba(255,255,255,0.82);
$muya-colors-spec-neutral-1-click: rgba(255,255,255,0.86);
$muya-colors-spec-neutral-2-normal: rgba(255,255,255,0.8);
$muya-colors-spec-neutral-2-hover: rgba(255,255,255,0.72);
$muya-colors-spec-neutral-2-click: rgba(255,255,255,0.76);
$muya-colors-spec-neutral-3-normal: rgba(255,255,255,0.7);
$muya-colors-spec-neutral-3-hover: rgba(255,255,255,0.62);
$muya-colors-spec-neutral-3-click: rgba(255,255,255,0.66);
$muya-colors-spec-neutral-4-normal: rgba(255,255,255,0.5);
$muya-colors-spec-neutral-4-hover: rgba(255,255,255,0.42);
$muya-colors-spec-neutral-4-click: rgba(255,255,255,0.46);
$muya-colors-spec-neutral-5-normal: rgba(255,255,255,0.3);
$muya-colors-spec-neutral-5-hover: rgba(255,255,255,0.22);
$muya-colors-spec-neutral-5-click: rgba(255,255,255,0.26);
$muya-colors-spec-neutral-6-normal: rgba(255,255,255,0.2);
$muya-colors-spec-neutral-6-hover: rgba(255,255,255,0.12);
$muya-colors-spec-neutral-6-click: rgba(255,255,255,0.16);
$muya-colors-spec-neutral-7-normal: rgba(255,255,255,0.16);
$muya-colors-spec-neutral-7-hover: rgba(247,247,247,0.24);
$muya-colors-spec-neutral-7-click: rgba(247,247,247,0.2);
$muya-colors-spec-neutral-8-normal: rgba(255,255,255,0.12);
$muya-colors-spec-neutral-8-hover: rgba(230,230,230,0.2);
$muya-colors-spec-neutral-8-click: rgba(230,230,230,0.16);
$muya-colors-spec-neutral-9-normal: rgba(255,255,255,0.08);
$muya-colors-spec-neutral-9-hover: rgba(230,230,230,0.16);
$muya-colors-spec-neutral-9-click: rgba(230,230,230,0.12);
$muya-colors-spec-neutral-10-normal: rgba(255,255,255,0.04);
$muya-colors-spec-neutral-10-hover: rgba(255,255,255,0.08);
$muya-colors-spec-neutral-10-click: rgba(255,255,255,0.06);
$muya-colors-spec-gradient-normal: linear-gradient(90deg, #33ADFF 0%, #1A7AF8 100%);
$muya-colors-spec-gradient-hover: linear-gradient(90deg, #60BFFF 0%, #589EFA 100%);
$muya-colors-spec-gradient-click: linear-gradient(90deg, #31A6F5 0%, #1876EE 100%);
$muya-colors-pattern-background-higher: '#3d3e43';
$muya-colors-pattern-background-block: rgba(255,255,255,0.04);
$muya-colors-pattern-background-selected-block: rgba(255,255,255,0.08);
$muya-colors-pattern-background-global: '#232529';
$muya-colors-pattern-background-disabled: rgba(255,255,255,0.04);
$muya-colors-pattern-background-divider: rgba(255,255,255,0.16);
$muya-colors-pattern-background-mask: rgba(0,0,0,1);
$muya-colors-pattern-background-scroll-bar: rgba(255,255,255,0.16);
$muya-colors-pattern-background-scroll-bar-hover: rgba(247,247,247,0.24);
$muya-colors-pattern-border-normal: rgba(255,255,255,0.16);
$muya-colors-pattern-border-hover: rgba(247,247,247,0.24);
$muya-colors-pattern-border-error: rgba(255,43,0,1);
$muya-colors-pattern-icon-normal: rgba(255,255,255,0.3);
$muya-colors-pattern-icon-hover: rgba(255,255,255,0.22);
$muya-colors-pattern-icon-click: rgba(255,255,255,0.26);
$muya-colors-pattern-icon-inverse: rgba(0,0,0,1);
$muya-colors-pattern-text-title: rgba(255,255,255,0.9);
$muya-colors-pattern-text-text: rgba(255,255,255,0.8);
$muya-colors-pattern-text-assistant: rgba(255,255,255,0.7);
$muya-colors-pattern-text-secondary: rgba(255,255,255,0.5);
$muya-colors-pattern-text-darktip: rgba(255,255,255,0.3);
$muya-colors-pattern-text-placeholder: rgba(255,255,255,0.3);
$muya-colors-pattern-text-disabled: rgba(255,255,255,0.2);
$muya-colors-pattern-text-highlight: rgba(26,122,248,1);
$muya-colors-pattern-text-highlight-hover: rgba(51,139,255,1);
$muya-colors-pattern-text-highlight-click: rgba(12,108,235,1);
$muya-colors-pattern-text-inverse: rgba(0,0,0,1);
$muya-colors-pattern-feature-info: rgba(26,122,248,1);
$muya-colors-pattern-feature-loading: rgba(26,122,248,1);
$muya-colors-pattern-feature-error: rgba(255,43,0,1);
$muya-colors-pattern-feature-success: rgba(0,217,72,1);
$muya-colors-pattern-feature-warning: rgba(255,171,0,1);
$muya-opacity-spec-s-1: 0.9;
$muya-opacity-spec-s-2: 0.7;
$muya-opacity-spec-s-3: 0.5;
$muya-opacity-spec-s-4: 0.3;
$muya-opacity-spec-s-5: 0.2;
$muya-opacity-spec-s-6: 0.16;
$muya-opacity-spec-s-7: 0.12;
$muya-opacity-spec-s-8: 0.08;
$muya-opacity-spec-s-9: 0.04;
$muya-opacity-pattern-mask: 0.7;
$muya-opacity-pattern-mask-button: 0.5;
$muya-opacity-pattern-disabled: 0.3;
$muya-shadows-spec-s-1-normal: 0 0 24px 0 rgba(0,0,0,0.12);
$muya-shadows-spec-s-1-hover: 0 0 24px 0 rgba(0,0,0,0.20);
$muya-shadows-spec-s-2-normal: 0 0 12px 0 rgba(0,0,0,0.16);
$muya-shadows-spec-s-2-hover: 0 0 12px 0 rgba(0,0,0,0.24);
$muya-shadows-pattern-popper-normal: 0 0 12px 0 rgba(0,0,0,0.16);
$muya-shadows-pattern-popper-hover: 0 0 12px 0 rgba(0,0,0,0.24);
$muya-size-spec-border-radius-s-1: 2px;
$muya-size-spec-border-radius-s-2: 4px;
$muya-size-spec-border-radius-s-3: 8px;
$muya-size-spec-border-radius-s-4: '50%';
$muya-size-spec-border-radius-s-5: '999rem';
$muya-size-spec-width-s: 160;
$muya-size-spec-width-m: 240;
$muya-size-spec-width-l: 320;
$muya-size-spec-width-xl: 480;
$muya-size-spec-height-s: 28;
$muya-size-spec-height-m: 32;
$muya-size-spec-height-l: 40;
$muya-size-spec-height-xl: 48;
$muya-size-pattern-expand-icon-width: 8;
$muya-size-pattern-expand-icon-height: 8;
$muya-size-pattern-scroll-bar-size-small: 4;
$muya-size-pattern-scroll-bar-size-large: 6;
$muya-size-pattern-scroll-bar-border-radius-small: 2;
$muya-size-pattern-scroll-bar-border-radius-large: 3;
$muya-spacing-spec-s-1: 2;
$muya-spacing-spec-s-2: 4;
$muya-spacing-spec-s-3: 6;
$muya-spacing-spec-s-4: 8;
$muya-spacing-spec-s-5: 12;
$muya-spacing-spec-s-6: 16;
$muya-spacing-spec-s-7: 20;
$muya-spacing-spec-s-8: 24;
$muya-spacing-spec-s-9: 28;
$muya-spacing-spec-s-10: 32;
$muya-spacing-spec-s-11: 40;
$muya-spacing-spec-s-12: 48;
$muya-spacing-spec-s-13: 56;
$muya-spacing-spec-s-14: 64;
$muya-spacing-spec-s-15: 72;
$muya-spacing-spec-s-16: 80;
$muya-spacing-spec-s-17: 96;
$muya-spacing-spec-s-18: 102;
$muya-spacing-spec-s-19: 128;
$muya-spacing-spec-s-20: 144;
$muya-spacing-spec-s-21: 160;
$muya-spacing-pattern-text-icon-s-1: 4;
$muya-spacing-pattern-text-icon-s-2: 4;
$muya-spacing-pattern-text-icon-s-3: 6;
$muya-spacing-pattern-text-icon-s-4: 6;
$muya-spacing-pattern-text-icon-s-5: 6;
$muya-spacing-pattern-text-icon-s-6: 8;
$muya-spacing-pattern-text-icon-s-7: 12;
$muya-spacing-pattern-text-icon-s-8: 16;
$muya-transition-spec-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
$muya-transition-spec-easing-ease-out: cubic-bezier(0.0, 0, 0.2, 1);
$muya-transition-spec-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
$muya-transition-spec-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);
$muya-transition-spec-duration-fast: 150;
$muya-transition-spec-duration-normal: 300;
$muya-transition-spec-duration-slow: 450;
$muya-transition-pattern-easing-enter: cubic-bezier(0.0, 0, 0.2, 1);
$muya-transition-pattern-easing-leave: cubic-bezier(0.4, 0, 1, 1);
$muya-transition-pattern-easing-status: cubic-bezier(0.4, 0, 0.2, 1);
$muya-transition-pattern-duration-popper: 300;
$muya-transition-pattern-duration-dialog: 450;
$muya-transition-pattern-duration-status: 150;
$muya-typography-spec-global-font-family: '-apple-system, Penrose, BlinkMacSystemFont, \'Segoe UI\', \'PingFang SC\', \'Hiragino Sans GB\', \'Microsoft YaHei\', \'Helvetica Neue\', Helvetica, Arial, sans-serif, \'Apple Color Emoji\', \'Segoe UI Emoji\', \'Segoe UI Symbol\'';
$muya-typography-spec-global-font-size: 12;
$muya-typography-spec-global-line-height: 1.5;
$muya-typography-spec-font-weight-regular: 400;
$muya-typography-spec-font-weight-medium: 500;
$muya-typography-spec-font-weight-semibold: 600;
$muya-typography-spec-font-size-s-1: 12;
$muya-typography-spec-font-size-s-2: 14;
$muya-typography-spec-font-size-s-3: 16;
$muya-typography-spec-font-size-s-4: 18;
$muya-typography-spec-font-size-s-5: 20;
$muya-typography-spec-font-size-s-6: 24;
$muya-typography-spec-font-size-s-7: 32;
$muya-typography-spec-font-size-s-8: 48;
$muya-typography-spec-line-height-s-1: 16;
$muya-typography-spec-line-height-s-2: 20;
$muya-typography-spec-line-height-s-3: 22;
$muya-typography-spec-line-height-s-4: 24;
$muya-typography-spec-line-height-s-5: 28;
$muya-typography-spec-line-height-s-6: 32;
$muya-typography-spec-line-height-s-7: 44;
$muya-typography-spec-line-height-s-8: 66;
$muya-z-index-spec-s-1: 10;
$muya-z-index-spec-s-2: 100;
$muya-z-index-spec-s-3: 1000;
$muya-z-index-spec-s-4: 1010;
$muya-z-index-spec-s-5: 1030;
$muya-z-index-pattern-fixed: 100;
$muya-z-index-pattern-dialog: 1000;
$muya-z-index-pattern-toast: 1010;
$muya-z-index-pattern-popper: 1030;